<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <title>User Management System</title>
</head>
<section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Add New Room In Hotel </h1>
                <div class="card-body">
					<form th:action="@{/user/hotel/addRoom/{hotelId} (hotelId=${room.hotelId})}" th:object = "${room}" method="POST">
                        <div class="mb-3">
                            <label>Enter Number</label>
                            <input type="text" th:name="number" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Enter Type</label>
                            <input type="text" th:name="type" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Enter Price</label>
                            <input type="text" th:name="price" class="form-control" required>
                        </div>
                        <button class="btn btn-primary col-md-12">Submit</button>
					</form>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
