<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Management System</title>
</head>
<section>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Booking </h1>
				<div class = "card-body">
					<form th:action="@{/updateBooking/{id} (id=${booking.id})}" th:object = "${booking}" method="POST">
						<div class ="form-group">
							<label> Check-In Date </label>
							<input
							type = "text"
							th:field = "*{checkinDate}"
							class = "form-control"
							placeholder="Enter Check-In Date" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Check-Out Date </label>
							<input
							type = "text"
							th:field = "*{checkoutDate}"
							class = "form-control"
							placeholder="Enter Check-Out Date" 
							/>
						</div>
						
						<div class ="form-group">
							<label> First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Last Name" 
							/>
						</div>
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</section>
</html>