<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Hotel Management System</title>
</head>
<section>
	<div class="container">
		<div class="row">
			<h1>Hotel Details</h1>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a
					th:href="@{/user/viewHotel/{id}(id=${hotelId})}"
					class="btn btn-primary btn-sm mb-3"> Add Room</a>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Hotel Name</th>
					<th>Country</th>
					<th>City</th>
					<th>Hotel Address</th>
					<th>Hotel Contact No.</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="hotel: ${hotelDetails}">
					<td th:text="${hotel.name}"></td>
					<td th:text="${hotel.country}"></td>
					<td th:text="${hotel.city}"></td>
					<td th:text="${hotel.address}"></td>
					<td th:text="${hotel.contactNo}"></td>
				</tr>
			</tbody>
		</table>
		<br>

		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Room Number</th>
					<th>Room Type</th>
					<th>Room Price</th>
					<th>Room Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="hotel: ${hotelDetails}">
					<td>
					<tr th:each="room: ${hotel.rooms}">
						<td th:text="${room.number}"></td>
						<td th:text="${room.type}"></td>
						<td th:text="${room.price}"></td>
						<td th:text="${room.status}"></td>
						<td> <a 
						th:href="@{/user/bookRoom/{id}(id=${room.id})}" class="btn btn-success"
                       th:if="${room.status == 'Available'}">Book</a> <a
                        
							th:href="@{/user/updateRoom/{id}(id=${room.id})}"
							class="btn btn-primary">Update</a> <a
							
							th:href="@{/deleteRoom/{id}(id=${room.id})}"
							class="btn btn-danger">Delete</a></td>
					</tr>

				</th:block>
			</tbody>
		</table>

	</div>
</section>
</html>
