<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>

		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Register Page</div>

						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
						</th:block>


						<div class="card-body">
							<form action="createUser" method="post">
								<div class="mb-3">
									<label>Enter First Name</label> 
									<input type="text" name="firstName" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Last Name</label> 
									<input type="text" name="lastName" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Email</label> 
									<input type="email" name="email" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Mobile No</label> 
									<input type="number" name="mobileNo" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Role</label> 
									<input type="text" name="role" class="form-control" required>
								</div>
								<div class="mb-3">
									<label>Enter Password</label>
									<input type="password" name="password" class="form-control" required>
								</div>
								<button class="btn btn-primary col-md-12">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>



	</section>



</body>
</html>